@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --primaryColor: #2563eb;
  --secondaryColor: #1e40af;
  --gradientColor: linear-gradient(to right, #2563eb, #60a5fa);

  --whiteColor: #ffffff;
  --blackColor: #000000;

  --textColor: #2d3748;
  --whiteColorDeam: #f1f5f9;

  --greyText: #718096;
  --inputColor: #edf2f7;

  --bodyColor: #f8fafc;
  --cardBG: #ffffff;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

a{
  color: var(--textColor);
  font-family: var(--fontFamily);
}

li{
  list-style: none;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
}

.icon{
  font-size: 30px;
  cursor: pointer;
  /* color: var(--secondaryColor); */
}

.btn{
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-family: var(--fontFamily);
}

.btn:hover{
  background-color: #0f4986;
}

.btn a{
  color: var(--whiteColor);
  font-weight: 600;
}

img, video{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section{
  padding-top: 72px;
  padding-bottom: 72px;
}

.container{
  padding-left: 24px;
  padding-right: 24px;
}

input{
  padding: 10px;
  border: 1px solid var(--secondaryColor);
  border-radius: 4px;
  font-family: var(--font-family);
}

body{
  background-color: var(--bodyColor);
}